
<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  
  # Redirecionar requisições para API para os arquivos PHP
  RewriteRule ^api/(.*)$ src/services/api.php [L]
  
  # Para o frontend (React)
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^(.*)$ index.html [L]
</IfModule>
